<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}
    Django App
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://raw.githubusercontent.com/felixity1917/StudITDev/refs/heads/main/StudITDev/core/static/base_stylesheet.css"
    rel="stylesheet" />
</head>

<body>
  <div class="overlays">
    <div class="Container">
      <h1 class="Logo">StudIT</h1>
      <div class="Navigation_Bar">
        <nav class="Navbar">
            <ul class="nav-links">
                <li class="Leaderboard"><a href="#">Leaderboard</a></li>
                <li class="Dashboard"><a href="#">Dashboard</a></li>
                <li class="friends-link"><a href="#">Friends</a></li>
                <li><a href="#" class="menu-icon">&#9776;</a></li>
            </ul>
        </nav><!--End OF NavBar-->

      </div><!--End of Navigation_Bar-->
    </div>
  </div>
</body>

</html>